body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.671);
    border: 2px solid #333;
    border-radius: 5px;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

table {
    border: 2px solid #333;
    border-collapse: collapse;
    margin: 0 auto;
}

caption{
    border: 2px solid #333;
    border-bottom: 1px;
    border-collapse: collapse;
    padding: 9px;
    font-weight: bolder;
    font-size: larger;
}

th, td {
    border: 2px solid #333;
    padding: 7px;
    font-weight: bold;
    font-size: large;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

li {
    border: 2px solid #333;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.divData{
    padding-bottom: 20px;
}

.textoData{
    font-weight: bold;
    margin: 0;
}

#dataVencimento{
    background-color: #ccc;
    border: 2px solid #333;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #333;
    font-size: larger;
    font-weight: bold;
}

#dataVencimento:focus {
    border-color: #05b8ff;
  } 

#filtroTarefas {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

.opcaofiltro {
    font-size: 14px;
    background-color: #333;
    color: #fff;
}

.textoItem{
    padding: 7px;
    margin: auto;
}

.textoItem:focus{
    border: 2px solid;
    border-color: #05b8ff;
    border-radius: 5px;
    outline: none;
}

#adicionarTarefa{
    background-color: #333;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#adicionarTarefa:hover{
    background-color: #02b302;
}

.seletores{
    margin: 5px;
    margin-right: 4px;
    padding: 8px;
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 5px;
}

.estilo-checkbox{
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}

.estilo-checkbox input{
    display: none;
}

.estilo-checkbox .fa-circle-check{
    color: #333;
}

.estilo-checkbox input:checked + .fa-circle-check{
    color: #02b302;
}

.fa-circle-check:hover{
    color: #02b302;
}

.editarItem{
    padding: 0;
    border: none;
    margin: 10px;
    color: #05b8ff;
    background-color: #fff;
}

.editarItem:hover{
    color: #069ad4;
    cursor: pointer;
}

.excluirItem{
    padding: 0;
    border: none;
    margin-right: 10px;
    color: #f50000;
    background-color: #fff;
}

.excluirItem:hover{
    color: #d40000;
    cursor: pointer;
}

.filtroDePrioridades{
    border: solid 2px #333;
    border-radius: 5px;
    padding: 3px;
    font-weight: bolder;
}

.filtroDePrioridades:hover{
    cursor: pointer;
}

.prioridade1 {
    background-color: #FF5733;
  }
  
  .prioridade2 {
    background-color: #FFC300; 
  }
  
  .prioridade3 {
    background-color: #6EF264; 
  }