*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}

/*Efeito de Carregamento*/
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

body {
    background-image: url('img/img-segurança-informacao.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}

.cabecalho { 
    width: 560px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
}

.container{
    width: 760px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.texto-alinhado{
    text-align: center;
    padding: 10px;
}

section{
    padding: 10px 30px;
}

h1{
    font-style: italic;
    font-size: 35px;
}

h2{
    padding-bottom: 10px;
}

p{
    font-size: 20px;
}

li{
    padding: 3px;
    font-size: 18px;
}

/*CSS menu*/
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li{
    display: inline;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover{
    color: #023c7a;
    text-decoration: underline;
}

.fas{
    margin-right: 10px;
    color: #007bff;
}

/*CSS Serviços*/

.lista-servicos {
    list-style: none;
    padding: 0;
}

.servico-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0)
}

.servico-item input[type="checkbox"] {
    display: none;
}

.servico-item label::before {
    content: "+";
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}

.servico-item input[type="checkbox"]:checked + label::before {
    content: "-";
}

.descricao-servico {
    padding: 10px;
    display: none;
    margin-top: 10px;
}

.servico-item input[type="checkbox"]:checked ~ .descricao-servico {
    display: block;
}

.descricao-servico p {
    margin: 5px 0;
}

.lista-servicos li:nth-child(even) {
    background-color: rgba(0, 123, 255, 0.365);
}

/*CSS Tabela*/
.tabela-responsiva{
    padding: 10px;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 400px;
    overflow-x: scroll;
}

caption{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #007bff6c;
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 0px;
}

th,td{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

/*CSS Depoimentos*/

.depoimentos {
   
    text-align: center;
    padding: 20px 0;
}

.depoimentos h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.depoimento {
    background-color: rgba(128, 122, 122, 0.3);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(#007bff);
    margin-bottom: 10px;
    font-style: italic;
}

.depoimento p {
    font-size: 18px;
    margin-bottom: 10px;
}

.depoimento cite {
    color: #007bff;
    font-size: 16px;
    font-style: italic;
}
/*Perguntas Frequentes*/
details{
    margin: 10px 0;
    cursor: pointer;
}

summary{
    font-size: 18px;
    font-weight: bold;
}

/*CSS Contato*/
.formulario{
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    width: 90%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 5px;
    padding: 7px;
    border:2px solid rgba(0, 0, 0, 0.504);
}
button {
    margin: 10px auto;
    width: 300px;
    background-color: #007bff;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: #007bff;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
    border: 2px solid rgb(0, 123, 255);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.502);
}
label{
    font-size: 18px;
}

/*CSS Rodapé*/
.termos-politica {
    text-align: center;
    margin-top: 10px; 
    padding: 20px;
    background-color: rgba(128, 122, 122, 0.3);
}
.termos-politica a {
    color: #007bff;
    text-decoration: none; 
    margin: 0 10px; 
}
.termos-politica a:hover {
    text-decoration: underline; 
}

/*CSS Modo noturno*/

.cabecalho,
.container{
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

#darkModeToggle:checked ~ .cabecalho,
#darkModeToggle:checked ~ .container {
    background-color: #333;
    color: #fff;
}

#darkModeToggle:checked ~ #darkModeLabel {
    background-color: #222;
}

.light-theme #darkModeLabel {
    background-color: #333;
    color: #fff;
}

.light-theme .cabecalho,
.light-theme .container {
    background-color: #fff;
    color: #333;
}

.dark-theme #darkModeLabel {
    background-color: #222;
}

.dark-theme .cabecalho,
.dark-theme .container {
    background-color: #333;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .cabecalho{
        max-width: 60%;
    }
    .container{
        max-width: 70%;
    }
    h1{
        font-size: 20px;
    }
    h2, caption{
        font-size: 18px;
    }
    p, td, th, label,summary{
        font-size: 15px;
    }
    nav a{
        padding-top: 10px;
        font-size: 14px
    }
    li{
        font-size: 15px;
    }
    .tabela-responsiva{
        overflow-x: scroll;
        max-width: 100%;
    }

}
@media screen and (min-width:601px) and (max-width: 900px) {
    .cabecalho{
        max-width: 60%;
    }
    .container{
        max-width: 70%;
    }
    h1{
        font-size: 22px;
    }
    h2, caption{
        font-size: 20px;
    }
    p, td, th, label, summary{
        font-size: 16px;
    }
    nav a{
        padding-top: 10px;
        font-size: 16px
    }
    li{
        font-size: 16px;
    }
    .tabela-responsiva{
        overflow-x: scroll;
        max-width: 100%;
    }

}